<html>
    <head>
        <title>Parrilleros Fobal Club!</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

        <!-- Optional theme -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />

        <!-- Latest compiled and minified JavaScript -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron"><h2>Hola <span th:text="${facebookProfile.name}">Some User</span>!</h2>
                <small>Veamos que dicen por ahí...</small>
            </div>
            

            <div class="row">

                <div th:each="post:${feed}" class="panel panel-primary col-xs-12 col-md-4">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b th:text="${post.from.name}">from</b></h3>
                    </div>
                    <div class="panel-body">
                        <p th:text="${post.message}">message text</p>
                        <img th:if="${post.picture}" th:src="${post.picture}" class="img-circle thumbnail img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html> 